
@{
    ViewBag.Title = "UploadProduto";
}

<h2>UploadProduto</h2>
@using (Html.BeginForm("Upload", "Produto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
